

@font-face {
  font-family: RobotoMono;
  src: url(../fonts/RobotoMono-Medium.ttf);
}
html,
body {
  font-family: RobotoMono;
  background-color: #000;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}
#arrow{
  position: relative;
  display: po;
  left: 3px;
  top: -9px;
}
header{
  position: relative;
  z-index: 1000;
  padding-top: 22px;
}
.links{
  font-size: 14px;
  font-family: RobotoMono;
}
.links_icon{
  width: 32px;
}
.links_icon:hover{
  cursor: pointer;
}
.links_right{
     transition: all 0.3s ease;
    float: right;
    font-size: 13px;
    padding: 2px 14px;
    border-radius: 35px;
    /* background: #0e0e0e; */
    color: #fff;
    padding-top: 6px;
}
.links_right:hover{
  cursor: pointer;
  color: #606060;
  transform: scale(0.9);
  
}
.links_left{
  float: left;
}
ul{
  margin: 0;
  padding: 0;
}
a{
  font-family: Roboto;
}
li{
  
  list-style: none;
}
.container{
  padding: 0 15px;
}
.logo{
  position: relative;
  width: 151px;
  height: 52px;
  float: left;
}
.fm_live{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  top: 24px;
  animation: dot 1s ease-in-out infinite alternate;
}
.headIcons{
  color: #fff;
  float: right;
  margin-top: 14px;
  font-size: 17px; 
  position: relative;
}

.headIcons li{
  float: right;
  padding: 0px 6px;
  margin: 0 3px;
}
.headIcons:hover{
  cursor: pointer;
}

a {
  color: #fff;
  color: inherit;
  text-decoration: none;
}

.menu{
  background: #faf1ef;
  display: inline-block;
  font-family: RobotoMono;
  position: absolute;
  top: 60px;
  border-radius:9px;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.menu:hover{
  cursor: auto;
}
.info_menu{
  opacity: 0;
  width: 223px;
  height: 214px;
  right: 9px;
}
.time_menu{
  opacity: 0;
  width: 243px;
  height: 276px;
  right: 52px;
}
.hide{
  opacity: 0;
  visibility :hidden;
}
.show{
  top: 35px;
  opacity: 1;
  visibility :visible;
}

.background_img{
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 2 !important;
  filter: blur(30px) saturate(250%);
  pointer-events: none;
  opacity: 0.7;
  animation: background_ani ease-in-out infinite;
  animation-duration: 13s
}
.inner_menu{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 18px 19px;
}
.headIcons .info_menu_links_holder{
  float: none;
  padding: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.info_menu_links_holder{
  border-bottom: 1px solid #000;
}

.info_menu_links {
  color: #000;
}
.info_menu_text{
  font-size: 14px;
  margin-top: 19px;
  font-weight: 500;
}
.info_menu_links_holder .info_menu_links:nth-child(1){
  float: none;
}
.info_menu_links_holder .info_menu_links:nth-child(2){
  float: right;
}
.info_menu_text .info_menu_links_holder:nth-child(3){
  border-bottom:none
}
.time_circle .cirle{
  width: 117px;
  height: 117px;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 20px);
}
.time_num{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 63px);
  color: #000;
  font-size: 1.4rem;
}
.buttons_container{
  position: relative;
  bottom: -165px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.buttons_container .buttons{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 9px;
  transition: all 0.11s ease-in-out;
}

.buttons_container .buttons svg{
  position: relative;
  left: 50%;
  top: 50%;
  width: 13px;
  transform: translate(-50%,-50%);
}
.buttons:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }
  .buttons:nth-child(1) svg{
    top: 45%;
    transform: translate(-40%,-50%);
  }

  .buttons:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }

.buttons:nth-child(3) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }
  .buttons:nth-child(3) svg{
    width: 20px;
  }
  .buttons:hover{
    cursor:pointer;
    transform: scale(1.1);
  }
  .buttons:active {
    transform: scale(0.9);
  }
 


.fullscreen-enabled .full_screen_button{
  display: none;
}
.fullscreen-enabled .close_full_screen_button{
  display: block;
}
.full_screen_button{
  display: block
}
.close_full_screen_button{
  display: none
}
.anmation{
  width: 528px;
  height: 89vh;
  position: relative;
  left: 50%;
  transform: translate(-50%, 11px);
}



#overly{
  background-color: #000; 
  
}
.face_background{
  background-image: url("../img/Frame3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 461px;
  max-height: 461px;
  position: relative;
  left: 10px;
  top: 49px;
}
#mouth{
  transition: all 0.3s ease-in-out;
}
.is_not_smileing{
 
  transform-origin: center center;
  transform: translateY(121px) rotateZ(180deg);
}
.is_smileing{
  transform-origin: center center;
  transform: translateY(0) rotateZ(0);
}

.border_1{
  width: 82px;
  display: block;
  height: 82px;
  border-radius: 50%;
  border:1px solid #1e1e1e;
  position: relative;
}
.border_2{
  width: 73px;
  display: block;
  height: 73px;
  border-radius: 50%;
  border: 1px solid #9d9d9d;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button{
  position: relative;
  width: 57px;
  height: 57px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%);
}
.button .button_span{
  display: block;
  position: absolute;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border:1px solid #fff
}
.button_span:first-child{
  transform: scale(1.2);
  border: 1px solid #ffffff61;
}
.button_span:nth-child(2){
  transform: scale(1.4);
  border: 1px solid #ffffff0d;
}

.icon_mode{
  position: absolute;
  width: 13px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icons,.links_left, .button_container {
  transition: all 0.3s ease;
}
.button_container{
  width: 63px;
  margin: 0 auto;
  margin-top: 26px;
  
}
.button_container:hover{
  cursor: pointer;
  transform: scale(0.9);
  
}
.icons{
  opacity:0.8;
}
.icons:hover, .links_left:hover{
  transform: scale(1.1);
  opacity:1;
}
.time_icon{
  position: relative;
  top: -1px;
}

.button_arrow {
  width: 16px;
  display: block;
  position: absolute;
  top: 54%;
  left: 53%;
  transform: translate(-50%, -50%);
}

footer{
  color: #fff;
  position: relative;
  bottom: 0;
 
}


footer ul li{
  list-style: none;
}

footer ul {
  margin: 0;
  padding: 0;
}
footer .links li{
  float: left;
  margin: 0 11px;
  font-size: 17px;
  
}
footer .links li:first-child{
  margin-left: 0;
}

#face_svg{
  max-width: 311px;
  position: absolute;
  transform: translate(-50%,0);
  top:131px;
  left: 50%;
}
.face_background{
  animation: circle  ease-in-out infinite;
  animation-duration: 4s
}
.hover_links{
  width: 50px;
  height: 28px;
  background: #141414;
  position: relative;
  left: -8px;
  display: inline-block;
  top: -71px;
  border-radius: 34px;
}

@keyframes circle {
  0% {   
     transform: scale(1) ;
  }

  50% {   
     transform: scale(1.2)  ;
  }
  100% {   
    transform: scale(1)  ;
 }
  
}
@keyframes dot {
  from {
    opacity:1
  }
   to{
    opacity:0
  }
} 

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  }

.flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }

.flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  }

.links_right svg.on{
  animation: musicOn ease-in-out infinite;
  animation-duration: 1s
}


.links_right svg.off{
  animation:none
}
@keyframes musicOn {
  from {
    transform: scale(1.2);
  }
   to{
    transform: scale(1);
  }
} 
@keyframes background_ani {
  from {
    transform: rotate(0deg)
  }
   to{
    transform: rotate(360deg)
  }
} 



 /* scroll */

  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(26, 26, 26);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
  }

  


@media screen and (max-width: 426px) {
  body{
    overflow: hidden;
  }
.Home_container__bCOhY {
  padding: 0 1rem !important;
} 
.logo {
width: 113px;
}
.anmation {
width: 100%;

}
.face_background {
top: 111px;
  animation:none

}
#face_svg {
  max-width: 189px;
  top: 98px;
}
}

@media screen and (max-width: 320px) {
  body{
    overflow: hidden;
  }
.Home_container__bCOhY {
  padding: 0 1rem !important;
} 
.logo {
width: 113px;
}
.anmation {
width: 100%;

}
.face_background {
top: 124px;
}
#face_svg {
max-width: 162px;
top: 98px;
}
.face_background{
animation:none
}
}